<div class="container-lg bg-light">
    <form [formGroup]="form">
        <div class="row my-4">
            <div class="col">
                <p class="display-4">Para iniciar, busca una ciudad:</p>
            </div>
        </div>
        <div class="row my-4">

            <div class="col">
                <input
                    type="text"
                    formControlName="city"
                    class="form-control"
                    [ngClass]="{'is-invalid' : sub && f['city'].errors, 'is-valid' : city.valid && (city.dirty || city.touched)}"
                    (keyup)="validateEnter($event)"
                />
            </div>
            <div class="col">
                <button type="button" (click)="validate()">Buscar</button>
            </div>
        </div>
        <div class="row" *ngIf="displayDisplayComp">
            <p class="display-6">Hemos encontrado algunas estaciones disponibles para consultar:</p>
            <div class="col">
                <app-display [stations]="stations"></app-display>
            </div>
            <div class="col">
                <app-display [stations]="stations"></app-display>
            </div>
        </div>
        <div *ngIf="loading">
            <p>loading</p>
        </div>
    </form>
</div>